@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$dark-red: rgb(119, 27, 27);
$black: black;
$whiteSmoke: whitesmoke;
$gray: gray;
.container {
    display:flex;
    margin: 10px;
}
.left{
    width: 20rem;
}
.button {
    width: 15rem;
    height: 2rem;
    cursor: pointer;
    background-color: $black;
    color: $whiteSmoke;
    border: $black;
    font-family: 'Roboto';
}
.inputContainer {
    width: 15rem;
}
.input{
    width: 15rem;
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px 0;
}
.saveBtn{
    width:15rem;
    height:2rem;
    cursor:pointer;
    background-color: $dark-red;
    color:whitesmoke;
    border:none;
    font-family: 'Roboto';
}
.ReactQuill{
    width: 15rem;
}
.notesInner{
    margin-top:0.5rem;
    border: 1px solid $dark-red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 15rem;
    text-align: center;
    cursor:pointer;
    font-family: "Roboto";

    &:hover{
        background-color: $dark-red;
        color:$whiteSmoke;
    }
}
.editBtn, .deleteBtn{
    width:5rem;
    height: 2rem;
    background-color: $dark-red;
    color:$whiteSmoke;
    border:none;
    margin:10px 10px 10px 0;
    cursor: pointer;
}
// .noteContainer{
//     border: 2px solid $gray;
// }
